.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 1fr 60px;
}

.dark-mode-body {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  
}

.dark-mode-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: black;
  color: white;
  padding: 10px;
}

.light-mode-body {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;

}

.light-mode-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: gray;
  font-weight: bold;
  color: white;
  padding: 10px;
}

/* body {
  background-color: black;
} */

nav {
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 10px;
}

/* .light-mode-nav a {
  font-weight: bold;
  color: white;
} */