.dark-mode {
  padding: 10px;
  height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
}

.light-mode {
  padding: 10px;
  height: 100vh;
  text-align: center;
  background-color: white;
  color: black;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  background-color:rgba(41, 41, 41, 0.4);
  font-weight: bold;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color:rgba(41, 41, 41, 0.6);
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 10px;
}